.aboutMe{
    overflow-y: hidden;
    /*background-image: url('../../public/images/aboutMeBackground.jpeg');
    background-size: 100% 100%; */
    /*background-color: rgb(90, 150, 186);*/
    background-color: rgb(255, 255, 255);
}

@media all and (max-width: 1920px) and (min-width: 700px) {
  .flex-container {
    flex-direction: column;
    -ms-flex-align: center;
    margin: 0 20%;
    
  }
  .flex-container >.AboutMeText {
  
    /*color:  rgb(7, 31, 3);*/
    color:black;
    font-size: 16px;
    
    padding-bottom: 20px;
   
  }
  
  .flex-container > .profileImage {
    height: 275px;
    width:  275px; 
    display:block;
    margin: auto; /* DOESN'T CENTER WITHOUT DISPLAY:BLOCK FOR SOME REASON*/
    padding-bottom: 15px;
  }
}
@media all and (max-width: 600px)  {
  .flex-container {
    flex-direction: column;
    -ms-flex-align: center;
    margin: 0 auto;
    
  }
  .flex-container >.AboutMeText {
  
    /*color:  rgb(7, 31, 3);*/
    color:black;
    font-size: 16px;
    
    padding-bottom: 20px;
    margin: 0 10%;
   
  }
  
  .flex-container > .profileImage {
    height: 275px;
    width:  275px; 
    display:block;
    margin: auto; /* DOESN'T CENTER WITHOUT DISPLAY:BLOCK FOR SOME REASON*/
    padding-bottom: 15px;
  }
  
}


.separator {
  height: 3px;
  /*background-color: rgb(25, 102, 9);*/
   background-color: black;
  border: none;
  width: 100%;

}


