/* SimpleCarousel.css */

.carousel {
  position: relative;
  max-width: 400px;
  margin: auto;
  user-select: none;

  
}

.carousel-viewport {
  overflow: hidden;
  background-image: url( "../../public/images/MECTest.jpg");
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex-shrink: 0;
  height: 750px;
  
}

.carousel-image {
  width:70%;
  height: 100%;
  object-fit: cover;  margin-left: 15%;
}

.carousel-arrow {
  position: relative;
  top: 50%;
/*  transform: translateY(-50%); */
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  transition: transform 0.2s ease;
}

.carousel-arrow:hover {
  transform: translateY(-50%) scale(1.05);
}

.carousel-arrow.left {
  left: 10px;
  position: absolute;
}

.carousel-arrow.right {
  right: 10px;
    position: absolute;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  
}

.carousel-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-indicator.active {
  background-color: #333;
  transform: scale(1.2);
}

.carousel-caption {
  text-align: center;
  color: #ff0000;
  background: rgba(0,0,0,0.8);
  padding: 0.5em 1em;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 20%;
  font-size: 1em;
  margin-left: 40%;
}

.carousel-content {
  position: relative;
  height: 100%;

}
