.hero-container {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../public/images/hexagons.jpeg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  object-fit: contain;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 60%;
  max-width: 100%;
  padding: 0 40px;
}

/* PROFILE IMAGE */
.hero-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 9px solid rgba(255, 255, 255, 0.2);
  box-shadow: 
    0 10px 45px rgba(93, 204, 108, 0.45),
    0 0 30px rgba(255, 255, 255, 0.3);
  transition: transform 2.5s ease, box-shadow 0.4s ease;
  margin-right: 25px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.headline {
  font:
    90px/1.1em Spectral,
    sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: -10px;
  text-align: left;
}

.subheadline {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-family: Spectral;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  text-align: left;
  margin-left: -95px;
}

.hero-btns {
  margin-top: 30px;
}

/* Responsive design */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    gap: 40px;
  }
  
  .hero-image {
    width: 280px;
    height: 280px;
  }
  
  .headline {
    font-size: 70px;
  }
  
  .subheadline {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  
  .hero-image {
    width: 250px;
    height: 250px;
  }
  
  .banner-text {
    align-items: center;
    text-align: center;
  }
  
  .headline {
    font-size: 50px;
    text-align: center;
  }
  
  .subheadline {
    font-size: 22px;
    text-align: center;
  }
}